/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body>header {
    background: #eee;
    padding: 5px;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {
    width: 100%;
    background: #eee;
    position: relative;
    padding: 5px;
    margin: 10px 0;
    bottom: 0;
    text-align: center;
}

.single-menu-element-link {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.single-menu-element-link:hover {
    font-weight: 900;
    transition: background 0.2s ease,
    padding 0.1s linear;
}

.single-menu-element:hover {
    font-weight: 900;
    background-color: #49acff;
    height: 40px;
    line-height: 32px;
    border: none;
    border-radius: 5px;
    transition: background 0.2s ease, padding 0.1s linear;
}

.single-menu-element {
    padding: 10px;
}

.title {
    font-weight: 600;
    margin-left: 2%;
    padding-top: 1%;
}

.subtitle {
    font-weight: 100;
    margin-left: 3%;
    margin: 15px;
}

.content {
    padding-top: 0.5%;
    padding-bottom: 1%;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-break: normal;
}

.readMore {
    font: 16px Lato;
    color: white;
    background-color: #49acff;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 4%;
    border: none;
    border-radius: 30px;
    width: 50%;
    text-decoration: none;
}

.readMore:hover {
    background-color: #565656;
}

.back {
    font: 16px Lato;
    color: white;
    background-color: #49acff;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 4%;
    border: none;
    border-radius: 30px;
    width: 50%;
    text-decoration: none;
}

.back:hover {
    background-color: #565656;
}

.button {
    font: 16px Lato;
    color: white;
    background-color: #49acff;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
}

.button:hover {
    background-color: #565656;
}

.logout {
    font: 16px Lato;
    color: black;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
}

.logout:hover {
    background-color: #49acff;
}


.news {
    width: 80%;
    list-style: none;
    padding: 20px;
}

table th, table td {
    background: #DDD;
    padding: 5px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.validation-error {
    vertical-align: top;
    margin-left: 10px;
    color: red;
}

#logged-in-info {
    float: right;
    margin-top: 10px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}





.user-login-block {
    border-radius: 15px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    margin: 10% auto;
    width: 35%;
    height: 55%;
    padding: 10px;
    text-align: center;
}

form {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.title-form {
    font: 18px Oswald;
    font-weight: 400;
    color: #019c8c;
    padding: 0 5px 5px;
    text-align: center;
    margin-bottom: 15px;
}

input {
    border-radius: 30px;
    border: 3px solid #f2f2f2;
    width: 60%;
    height: 35px;
    margin: 0 auto 10px;
    text-align: center;
}

input:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid #06c0ab;
}

button {
    font: 16px Lato;
    color: white;
    background-color: #06c0ab;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    width: 50%;
}

button:hover {
    background-color: #565656;
}

.form-link {
    text-decoration: none;
    color: #048e76;
    font: 16px Lato;
    font-weight: 900;
    padding: 10px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

#register-title {
    width: 200px;
}

#new-post-title {
    width: 250px;
}

.new-post-block {
    background: #dadada;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

#editor-title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font: 24px Lato-Black;
    text-align: center;
}

#post-form {
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
}

.single-element-form {
    display: inline-block;
    width: 40%;
    padding-top: 10px;
}

.content-field {
    resize: none;
    border: 3px solid #f2f2f2;
    outline: none;
    width: 550px;
    height:300px;
    border-radius: 15px;
    text-align: left;
    font: 12px Lato-Light;
    padding: 10px;
}

input:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid #06c0ab;
}

textarea:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid #06c0ab;
}